*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.App{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 650px;
  min-height: 300px;
  background: #232a46;
  text-align: center;
  margin: 28px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

body{
  background: linear-gradient(
    90deg,
    rgb(63, 147, 158) 0%,
    rgba(100, 115, 255, 1) 100%
  );
}
.nav-item{
  padding: 15px;
  display: inline; 
  color: white; 
  font-size: 20px;
  text-decoration: none;
  margin: 15px;
  border: 3px solid rgb(219, 219, 219);
  border-radius: 10px;
  font-weight: bold;
}

.nav-item:hover{
  background-color: rgb(187, 186, 186);
  opacity: 0.8;
  transition: 0.3s;
}

.navbar{
  display: flex;   
  justify-content: center; 
  margin-top: 40px;
}