.list-title{
    text-decoration: none;
    font-size: 25px;
    color: white;
    margin: 20px;
}

.list-item{
  display: flex;
  width: 550px;
  margin-left: 30px;
  font-size: 20px;
  padding: 7px;
  color: white;
}

.item-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgba(255, 118, 20, 1) 0%,
    rgba(255, 84, 17, 1) 100%
  );

  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.item-row:nth-child(4n + 1) {
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
}

.item-row:nth-child(4n + 2) {
  background: linear-gradient(
    90deg,
    rgba(255, 12, 241, 1) 0%,
    rgba(250, 0, 135, 1) 100%
  );
}

.item-row:nth-child(4n + 3) {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
}

.form{
  margin-bottom: 32px;
  display: inline;
}

.list-form{
  margin-top: 30px;
  color: white;
  padding: 20px;
}

.input{
  padding: 18px 32px 14px 16px;
  margin-top: 25px;
  border-radius: 4px 0 0 4px;
  border: 3px solid #5d0cff;
  outline: none;
  width: 400px;
  background: transparent;
  color: #fff;

}

.input::placeholder {
  text-align: center;
  font-size: 22px;
  /* color: #e2e2e2; */
}

.todo-button {
  padding: 14px;
  font-size: 20px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  text-transform: capitalize;
}

.icons{
  display: flex;
  align-items: center;
  font-size: 36px;
  cursor: pointer;
  margin-top: 15px;
  margin-left: 20px;
}